<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Lista de Pessoas</h2>
        
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- Tabela de pessoas -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Email</th>
                    <th><a href="/criar" >Cadastrar Pessoa</a> </th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                    <tr>
                        <td>{{ pessoa.id }}</td> <!-- Exibindo o ID -->
                        <td>{{ pessoa.nome }}</td>
                        <td>{{ pessoa.idade }}</td>
                        <td>{{ pessoa.email }}</td>
                        <td>
                            <a href="{{ url_for('editar', id=pessoa.id) }}">Editar</a> |
                            <a href="{{ url_for('excluir', id=pessoa.id) }}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Navegação entre páginas -->
        <div class="pagination-buttons">
            {% if current_page > 1 %}
                <a class="load-minus-btn" href="{{ url_for('pessoas', page=current_page - 1) }}">Anterior</a>
            {% endif %}
            
            {% if current_page < total_pages %}
                <a class="load-more-btn" href="{{ url_for('pessoas', page=current_page + 1) }}">Próximo</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
